@import "colors";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  background-color: $text;
  color: $paper;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  h1 {
    background-color: rgba($text, 0.7);
    display: inline-block;
    margin: 0;
    padding: .5rem 1rem;
  }
}