@import "base";

header.homepage {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  z-index: 1;
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  z-index: 0;
}

.photo-strip {
  background-color: $paper;
  display: flex;
  overflow-x: scroll;
  width: 100vw;

  .photo-strip-contents {
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
    padding: 1rem;
  }

  .photo {
    height: 500px;
    margin-right: 1rem;
    min-width: 666.5px;
    overflow: hidden;
    position: relative;
    width: 666.5px;

    &:last-child {
      margin-right: 0;
    }

    img {
      display: block;
      height: 500px;
      width: 666.5px;
    }

    .date-tag {
      position: absolute;
        top: 0;
        left: 0;

      .date-tag__date {
        background-color: $red;
        color: $paper;
        display: inline-block;
        padding: .5rem;
      }

      .date-tag__time {
        background-color: $aqua;
        color: $paper;
        display: inline-block;
        padding: .5rem;
      }
    }

    .details-strip {
      background-color: $aqua;
      color: #fff;
      padding: .5rem;
      position: absolute;
        right: 0;
        bottom: -1.75rem;
        left: 0;
      transition: bottom 0.3s ease;

      .label {
        font: {
          size: 1rem;
          weight: 700;
        }
        margin-right: .5em;
      }

      .streetname {
        font-size: .8rem;
      }
    }

    &:hover {
      .details-strip {
        bottom: 0;
      }
    }
  }
}
