@import "base";

.photo-strip {
  background-color: $paper;
  display: flex;
  overflow-x: scroll;
  width: 100vw;

  .photo-strip-contents {
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
    padding: 1rem;
  }

  .photo {
    margin-right: 1rem;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 500px;
    }

    .date-tag {
      background-color: $red;
      color: $paper;
      padding: .5rem;
      position: absolute;
    }
  }
}